<h1>Doctors List</h1>
<div class="text-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by Category
    </button>
    <ul class="dropdown-menu">
      <% @categories.each do |category| %>
        <li><%= link_to category.title, doctors_path(category_title: category.title), class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Email</th>
    <th scope="col">Category</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <th scope="row"><%= doctor.id %></th>
      <td><%= doctor.email %></td>
      <td><%= doctor.categories.map(&:title).join(", ") %></td>

      <% if can? :create, Appointment %>
        <td><%= button_to "Make Appointment", appointments_path(doctor_id: doctor.id), method: :post, class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
